POSTGRE_DEV=postgresql+psycopg://<<SEU USER>>:<<SUA SENHA>>.@127.0.0.1:5432/db
POSTGRE_TEST=postgresql+psycopg://<<SEU USER>>:<<SUA SENHA>>.@127.0.0.1:5432/db_test



API_KEY=\\


REDIS_PASSWORD=\\


REDIS_HOST=127.0.0.1
REDIS_PORT=6379