POSTGRE_DEV=postgresql+psycopg://<<SEU USER>>:<<SUA SENHA>>.@127.0.0.1:5432/db
POSTGRE_TEST=postgresql+psycopg://<<SEU USER>>:<<SUA SENHA>>.@127.0.0.1:5432/db_test



API_KEY=\\


REDIS_PASSWORD=\\


REDIS_HOST=127.0.0.1
REDIS_PORT=6379


# para docker 
POSTGRES_USER=dev
POSTGRES_PASSWORD=uma_senha_muito_segura_123
POSTGRES_DB=zeladoria_urbana_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://usuario_zeladoria:uma_senha_muito_segura_123@localhost:5432/zeladoria_urbana_db